:root {
  --primary-color: #3fc574;
  --primary-opacity: rgb(63, 197, 116, 0.15);
}

body {
  font-family: "Josefin Sans", serif;
  text-align: center;
}

header {
  margin: 30px auto;
}

h1 {
  font-size: 64px;
  margin: 100px auto;
  width: 80%;
}

h2 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 48px;
}

img {
  object-fit: cover;
  width: 100%;
}

.navbar-brand {
  font-size: 64px;
}

.projects {
  font-size: 24px;
  margin-bottom: 100px;
}
.navbar-nav,
.btn-nav {
  font-size: 24px;
}

.menu {
  padding-left: 30%;
}
.nav-item {
  padding: 0 20px;
  font-size: 18px;
}
i {
  margin: 0 10px;
}

.btn-nav {
  background-color: black;
  color: white;
  border-radius: 0;
  padding: 15px 30px;
}

.btn-projects {
  margin-bottom: 100px;
}

.projects:hover,
.btn-nav:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 200ms ease-in-out;
}

.green-title {
  color: var(--primary-color);
}

#portfolio {
  padding: 20px;
  margin: 0 auto;
}

.link-icon:hover,
.filter-button:hover {
  color: #3fc574;
}

.filter-button:focus {
  box-shadow: none;
  color: var(--primary-color);
}

.projects-sort {
  text-align: right;
  margin-bottom: 30px;
}

.load-more {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.email {
  color: black;
  font-size: 16px;
}

.load-more:hover,
.email:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.social-icons {
  margin: 10px auto 30px auto;
}

.link-icon {
  color: black;
}
.container-about {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 35px;
}

.about-description {
  text-align: left;
}

.subtitle {
  font-size: 24px;
  color: var(--primary-color);
}

.title-about {
  margin-top: 20%;
  margin-bottom: 10px;
}

.p-about {
  margin-top: 30px;
}
.p-about,
.subtitle,
.p-cv,
.p-connect,
.title-about,
strong {
  margin-left: 20%;
}

.subtitle,
.p-cv,
.p-connect {
  font-weight: bold;
}
.linkedin-logo {
  width: 60px;
}

.pdf-icon {
  width: 20px;
}

.linkedin-logo,
.pdf-icon {
  position: relative;
  bottom: 2px;
}
.container-photo {
  text-align: right;
}

.project-title {
  margin-top: 20px;
}

@media (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 659px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  .btn-nav {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .container-photo {
    display: none;
  }

  .p-about,
  .subtitle,
  .p-cv,
  .p-connect,
  .title-about,
  strong {
    margin-right: 10%;
    margin-left: 10%;
  }
}
